<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/queue.css') }}">
    <title>Queue</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/queue">Test Restaurant</a>
    </nav>
    <div class="container">
        <div class="cur-call">
            Estimated Serving Time
            <p>{{final_time.decode("utf-8")}}</p>
        </div>
        <div class="cur-call">
            Currently Calling
        </div>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Name
                <span class="badge badge-primary">Party of</span>
            </li>
            {% for current in cur.keys() %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{cur[current].name}}
                <span class="badge badge-primary badge-pill">{{cur[current].party_num}}</span>
            </li>
            <!-- <p>{{cur[current]}}</p> -->
            {% endfor %}
        </ul>

        <div class="cur-call">Queue</div>

        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Name
                <span class="badge badge-primary">Party of</span>
            </li>
            {% for party in queue %}
            {% if party.data.present %}
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">
                {{party.data.name}}
                <span class="badge badge-primary badge-pill">{{party.data.party_num}}</span>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-dark">
                {{party.data.name}}
                <span class="badge badge-primary badge-pill">{{party.data.party_num}}</span>
            </li>
            {% endif %}
            <!-- <p>{{party.data.uid}}</p> -->
            {% endfor %}
        </ul>
    </div>

    <div class="container">
        <form action="/queue/new" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-mgn">Enter/Edit Queue</button>
        </form>
        <form action="/queue" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-mgn">Leave Queue</button>
        </form>
        <form action="/queue" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <button type="submit" class="btn btn-primary btn-lg btn-block btn-mgn">Toggle Present</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
